@model MaltaMoviesMVCcore.Models.Scene

@{
     ViewData["Title"] = @Model.Movie.Title + " - " + Model.LocationSite.LocationPlaceAndSiteName;
}
<style type="text/css">
/*Override bootstrap.css*/
    .modal-background {
        margin-top:10px;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        width: auto;
        max-width: 1040px;
    }

    .modal {
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(255,255,255); /* Fallback color */
        background-color: rgba(255,255,255,0.4); /* Black w/ opacity */
    }

    /* Add Animation */
    .modal-content {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.5s;
        animation-name: zoom;
        animation-duration: 0.5s;
    }

   @@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
</style>

@*<script>
    //Get the width of the loaded inage scene to determine the width of the screen pop up (overridin css class 'modal-content:width')
    //$(document).ready(function () {
        
    //    var styleNode = document.createElement('style');
    //    var strImgWidth = $("#imgScene").width() + 'px';
    //    //alert("Width of image: " + strImgWidth);        

    //    $("#btnImageSize").click(function () {
    //        var strImgWidth = $("#imgScene").width() + 'px';
    //        alert("Width of image: " + strImgWidth);
    //        //alert("Height of image: " + $("#imgScene").height());
    //    });   

    //Now generate style for 'modal-content:width'    
    //styleNode.type = "text/css";
    //// browser detection (based on prototype.js)
    //var strText = escape(".modal-content { width: " + strImgWidth + ";}");
    
    //if (!!(window.attachEvent && !window.opera)) {
    //    styleNode.styleSheet.cssText = strText;
    //} else {
    //    var styleText = document.createTextNode(strText);
    //    styleNode.appendChild(styleText);
    //}
    //document.getElementsByTagName('head')[0].appendChild(styleNode);
        //});  

</script>*@

<div class="modal-background">

    <button type="button" class="close" data-dismiss="modal">&times;</button>

    <h3 class="movie-title"> @Model.Movie.TitleAndYear</h3>  
    <h4 class="movie-title">
        <strong> -- 
            @Html.DisplayNameFor(model => model.LocationSite.LocationPlaceAndSiteName):
        </strong>

        @Html.DisplayFor(model => model.LocationSite.LocationPlaceAndSiteName) --

        <strong>
            @Html.DisplayNameFor(model => model.LocationAlias.LocationAliasCountryAndPlace):
        </strong>

        @Html.DisplayFor(model => model.LocationAlias.LocationAliasCountryAndPlace)
    </h4>


    <img id="imgScene" class="modal-content" src="@($"/images/scenes/large/{@Model.SceneId}.jpg")" alt="@Model.LocationSite.LocationPlaceAndSiteName" title="@Model.LocationSite.LocationPlaceAndSiteName" />


</div>
@*@using (Html.BeginForm("Scene", "Scenes", FormMethod.Post))
    {*@

<div class="row">
    <div class="col-md-5 col-md-offset-5">
        <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
        </button>
      
        @*<button type="submit" id="approve-btn"
                class="btn btn-danger">
            Save
        </button>*@
    </div>
</div>
   @*</div>*@

@*}*@

<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });
</script>

