@model IEnumerable<MaltaMoviesMVCcore.Models.Comment>

@{
    ViewData["Title"] = "Comments";
}

<h2>Comments</h2>

<p>
    <a asp-action="Create">Add a comment</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentDate)
            </td>
            
        </tr>
}
    </tbody>
</table>
