@model MaltaMoviesMVCcore.Models.LocationSite

@{
    ViewData["Title"] = "Location";



}


<script type="text/javascript">
    //TODO: Place this js in a file 'this' issue
    // getModalPopup(this);
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();
        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });
</script>

<div id="modal-container" class="modal"
     tabindex="-1" role="dialog">
    <div class="modal-content">
    </div>
</div>

<div class="jumbotron">
    <div class="container-fluid">
        <h2>Malta Location - @Model.LocationPlaceAndSiteName</h2>
        <a href="@($"/images/locations/hires/{Model.LocationSiteId}.jpg")">
            <img src="@($"/images/locations/{Model.LocationSiteId}.jpg")"
                 alt="@Model.LocationPlaceAndSiteName" title="@Model.LocationPlaceAndSiteName" />
        </a>

    </div>
</div>


@{if (Model.Scenes.Count() > 0)
    {

        <h2 class="movie-scenes">Scene Locations</h2>
        <div class="jumbotron">
            <div class="container-fluid">


                @foreach (MaltaMoviesMVCcore.Models.Scene item in ViewBag.Scenes)
                {
                <div style=" margin:5px; float:left; height:200px; overflow:hidden;">
                   <h4> @item.Movie.Title</h4>

                    @*Note 'Scene' is an alias mapped route in StartUp.cs for 'Details'*@
                    <a class="modal-link"
                       href="@Url.Action("Scene", "Scenes",new { id = item.SceneId })">

                        <img src="@($"/images/scenes/thumbs/{item.SceneId}.jpg")"
                             alt="@item.LocationSite.LocationPlaceAndSiteName - @item.Movie.Title" title="@item.LocationSite.LocationPlaceAndSiteName - @item.Movie.Title" width="250px" class="imgBox" />
                    </a>

                </div>

                }
            </div>
        </div>
    }
}
<div>

    <a asp-action="Index">Back to Location List</a>
</div>
