@model MaltaMoviesMVCcore.Models.LocationSite

@{
    ViewData["Title"] = "Location";


}


<h2>Malta Location - @Model.LocationPlaceAndSiteName</h2>
<div class="jumbotron">
    <div class="container-fluid">
        <a href="@($"/images/locations/hires/{Model.LocationSiteId}.jpg")"
           data-lightbox="location-1" data-title="@Model.LocationPlaceAndSiteName">

            <div class="imageContainer">
                <img src="@($"/images/locations/{Model.LocationSiteId}.jpg")"
                     alt="@Model.LocationPlaceAndSiteName"
                     title="@Model.LocationPlaceAndSiteName"
                     class="img-responsive" />
            </div>
        </a>
        
        <div class="imageContainer" id="map" style=" width:400px;height:300px">
            @*<div class="imageContainer" id="map" style="float: left;  margin-right:20px; width:400px;height:300px">*@
            </div>
        </div>
    
    @*GOOGLE MAP*@ 
    <script>
        function myMap() {
            //var myCenter = new google.maps.LatLng(35.88885, 14.51199
            //var sValue = document.getElementById('strLatLong').textContent;
            var myLatLong = new google.maps.LatLng(@Model.LatLong);
            var mapCanvas = document.getElementById("map");
            // var mapOptions = {gestureHandling: 'greedy'}; // Enable zooming with mouse within window
            var mapOptions = { center: myLatLong, zoom: 14 };
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({
                position: myLatLong,
                icon: '/images/icons/clapper.png'
            });
            marker.setMap(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2NceVpHdaJdEUGVdWC8qM_0nYVl8RsSQ&callback=myMap">
    </script>

</div>


@{if (Model.Scenes.Count() > 0)
    {

        <h2 class="movie-scenes">Movies made here</h2>
        <div class="jumbotron">
            <div class="container-fluid">

                @foreach (MaltaMoviesMVCcore.Models.Scene item in ViewBag.Scenes)
                {
                    <div style=" margin:5px; float:left; height:200px; overflow:hidden;">
                        <h4> @item.Movie.Title</h4>                      

                        <a href="@($"/images/scenes/large/{item.SceneId}.jpg")"
                           data-lightbox="scene" data-title="Movie: @item.Movie.Title -- Location: @item.LocationSite.LocationPlaceAndSiteName">

                            <img src="@($"/images/scenes/thumbs/{item.SceneId}.jpg")"
                                 alt="@item.Movie.Title - @item.LocationSite.LocationPlaceAndSiteName"
                                 title="@item.Movie.Title - @item.LocationSite.LocationPlaceAndSiteName"
                                 height="150" width="250" class="imgBox" />
                        </a>

                    </div>

                }
            </div>
        </div>
    }
}
<div>

    <a asp-action="Index">Back to Location List</a>
</div>
