@model MaltaMoviesMVCcore.Models.Movie


@{ ViewData["Title"] = @Model.Title;

    var strWidth = "320px"; //widesdcreen default (2.35 = 354px, 1.85= 276px)
    if (Model.Widescreen == false)
    {

        strWidth = "200px";
    }

}

<div class="jumbotron">
    <div class="container-fluid">
        <h2>@Model.ToString()</h2>
        <img src="@($"/images/titles/{@Model.TitleId}.jpg")" class="img-responsive" alt="@Model.Title" title="@Model.Title" />
        <div>@Html.DisplayFor(model => model.Summary)</div>
    </div>
</div>

@{if (Model.Scenes.Count() > 0)
    {
        <h2 class="movie-scenes">Scene Locations</h2>
        <div class="jumbotron">
            <div class="container-fluid">

                @foreach (MaltaMoviesMVCcore.Models.Scene item in ViewBag.Scenes)
                {


                    <div style=" margin:5px; float:left; height:190px; overflow:hidden; width:@strWidth;">

                        @*Note 'Scene' is an alias mapped route in StartUp.cs for 'Details'*@
                        @*<a class="modal-link"
                            href="@Url.Action("Scene", "Scenes",new { id = item.SceneId })">*@

                        <a href="@($"/images/scenes/large/{item.SceneId}.jpg")"
                           data-lightbox="scene"
                           data-title="Movie: @item.Movie.Title -- Location: @item.LocationSite.LocationPlaceAndSiteName">

                            <img src="@($"/images/scenes/thumbs/{item.SceneId}.jpg")"
                                 alt="@item.LocationSite.LocationPlaceAndSiteName"
                                 title="@item.LocationSite.LocationPlaceAndSiteName"
                                 width=@strWidth
                                 class="imgBox" />
                        </a>
                        @item.LocationSite.LocationPlaceAndSiteName

                    </div>

                }

            </div>
        </div>



    }
}

<p>
    <a asp-route-regionName="@Model.RegionName" asp-controller="Movies" asp-action="Index">Back to Movie List</a>
    </p>

